@page "/"
@* @attribute [StreamRendering(true)] *@
@attribute [RenderModeServer]
@inject IMovieReviewService _iMovieReviewService

<PageTitle>Index</PageTitle>

<h1>Movies</h1>

@if (Movies is null)
{
    <h1>Loading.....</h1>
}
else
{
    @for (int i = 0; i <= Movies.Count / 4; i++)
    {
        MovieModel[] moviGroup = Movies.Skip(i * 4).Take(4).ToArray();

        <div class="row">
            @foreach (var movie in moviGroup)
            {
              <MovieItem Movie="movie"></MovieItem>
            }
        </div>
    }
}

@code
{
    List<MovieModel>? Movies = null;

    protected override async Task OnInitializedAsync()
    {

        await Task.Delay(2000);

        Movies = _iMovieReviewService.GetMovies();

       
    }

}