@page "/"
@inject IMovieReviewService _iMovieReviewService

<PageTitle>Index</PageTitle>

<h1>Movies</h1>

@if (Movies is null)
{
    <h1>Loading.....</h1>
}
else
{
    @for (int i = 0; i <= Movies.Count / 4; i++)
    {
        MovieModel[] moviGroup = Movies.Skip(i * 4).Take(4).ToArray();

        <div class="row">
            @foreach (var movie in moviGroup)
            {
                <div class="col-md-3 mb-2">
                    <a href="/MovieReview/@movie?.Id">
                    <img class="img-thumbnail" src="@movie?.ImageUrl">
                    <div class="card-body">
                        <h5>@movie?.Title</h5>
                        <p class="card-text">
                            <b>@movie?.Description</b>
                        </p>
                    </div>
                   </a>
                </div>
            }
        </div>
    }
}

@code
{
    List<MovieModel>? Movies = null;

    protected override Task OnInitializedAsync()
    {
        Movies = _iMovieReviewService.GetMovies();

        return base.OnInitializedAsync();
    }

}